<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Banking Suite1">
	<listeners>
		<listener
			class-name="com.banking.utilities.ReportingListener"></listener>
	</listeners>
	<test name="Banking Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.banking.testcases.TC_LoginTest_001"></class>
			<!-- <class name="com.banking.testcases.TC_LoginDDT_002"></class> -->
			<class name="com.banking.testcases.TC_AddCustomerTest_003"></class>

		</classes>
	</test>

</suite>
 
